[submodule "vcflib"]
	path = vcflib
	url = https://github.com/ekg/vcflib.git
[submodule "bamtools"]
	path = bamtools
	url = https://github.com/pezmaster31/bamtools.git
[submodule "intervaltree"]
	path = intervaltree
	url = https://github.com/ekg/intervaltree.git
