[submodule "test/test-simple-bash"]
	path = test/test-simple-bash
	url = https://github.com/ingydotnet/test-simple-bash.git
[submodule "bash-tap"]
	path = test/bash-tap
	url = https://github.com/illusori/bash-tap.git
[submodule "contrib/smithwaterman"]
	path = contrib/smithwaterman
	url = https://github.com/ekg/smithwaterman.git
[submodule "contrib/fastahack"]
	path = contrib/fastahack
	url = https://github.com/ekg/fastahack.git
[submodule "contrib/multichoose"]
	path = contrib/multichoose
	url = https://github.com/vcflib/multichoose.git
