name: CI
on: [push, pull_request]
jobs:
  arch:
    name: freebayes-CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8]
    steps:
    - name: Update ubuntu
      run: sudo add-apt-repository ppa:c2d4u.team/c2d4u4.0+ && sudo apt-get update
    - name: Install dependencies
      run: sudo apt-get -y -f install samtools bc parallel libvcflib-tools vcftools fastahack smithwaterman
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - run: pip install meson ninja
    - name: Configure
      run: meson setup build/
    - name: Compile
      run: ninja -C build/
    - name: Run tests
      run: meson test --timeout-multiplier 4 --print-errorlogs -C build/


  build-aarch64:
    name: freebayes-CI aarch64
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Build
      uses: uraimo/run-on-arch-action@v2
      with:
        arch: aarch64
        distro: ubuntu20.04
        githubToken: ${{ github.token }}
        dockerRunArgs: |
          --volume "${PWD}:/freebayes"
        install: |
          apt-get update -q -y
          apt-get install -q -y gcc g++ python3.8 python3-pip samtools bc parallel libvcflib-tools vcftools fastahack smithwaterman
          pip install meson ninja
        run: |
          set -x
          cd /freebayes
          # CONFIGURE
          meson build/
          #COMPILE
          ninja -C build/
          # TEST
          meson test --timeout-multiplier 4 --print-errorlogs -C build/
          
